.main {
  width: 200px;
  height: 400px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
}

.img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.info {
  width: 100%;
}
